@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Lato&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Alkatra', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
}
body{ /*จัดอยู่ตรงกลาง*/
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #E3F2FD;
    }
    .wrapper{ /*การ์ด*/
    height: 270px;
    width: 420px;
    border-radius: 7px;
    background: #0B85FF;
    padding: 30px 30px 35px;
    transition: height 0.2s ease;
    }
    .wrapper.active{ /*ขนาดของการ์ดเมื่อ active*/
    height: 525px;
    }
    .wrapper form{ /*ฟอร์มอัพโหลด*/
    height: 210px;
    cursor: pointer;
    background: #fff;
    display: flex;
    
    text-align: center;
    border-radius: 7px;
    align-items: center;
    justify-content: center;
    transition: height 0.2s ease;
    }
    .wrapper.active form{ /*ฟอร์มอัพโหลดเมื่อ active*/
    height: 225px;
    pointer-events: none;
    }
    form img{ /*ฟอร์มรูป*/
    display: none;
    max-width: 148px;
    }
    .wrapper.active form img{ /*ฟอร์มรูปเมื่อ active*/
    display: block;
    }
    .wrapper.active form .content{ /*ฟอร์มรูปเมื่อ active content*/
    display: none;
    }
    form .content i{ /*ฟอนต์ สี icon*/
    color: #0B85FF;
    font-size: 55px;
    }
    form .content p{ /*ฟอนต์ สี p*/
    color: #0B85FF;
    font-size: 16px;
    margin-top: 15px;
    }
    .wrapper .details{ /*จัดส่วนของ Detail ซ่อน*/
    opacity: 0;
    margin-top: 25px;
    pointer-events: none;
    }
    
    .wrapper.active .details{ /*เมื่อ active Detail แสดง*/
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.5s 0.05s ease;
    }
    .details textarea{ /*ปรับแต่ง teat area*/
    width: 100%;
    height: 128px;
    outline: none;
    color: #fff;
    font-size: 18px;
    background: none;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #fff;
    }
    .details .buttons{ /*ข้อมูล ปุ่ม จัดระยะ */
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    }
    .buttons button{ /*กําหนดรายละเอียดปุ่ม */
    height: 55px;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    color: #0B85FF;
    background: #fff;
    border-radius: 5px;
    width: calc(100% /2 - 10px);
    }